.profile {
    width: 180px;
    height: 180px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-placeholder {
    background-color: lightgray;
}